.imageContainer {
  width: 100%; /* Full width */
  max-height: 550px;
  position: relative; /* For the Image component with layout='fill' */
  overflow: hidden; /* This will hide the parts of the image that overflow the container */
}

.preamble {
  background-color: #00c6b9;
  width: 100%;
  min-height: 300px;
  font-family: 'Montserrat', sans-serif; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.preambleContent {
  justify-content: center;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-right: 50px;
  width: 1200px;
  min-height: 200px;
  color: white;
}
