.imageContainer {
  width: 100%; /* Full width */
  max-height: 612px; /* Adjust this value to your preference */
  position: relative; /* For the Image component with layout='fill' */
  overflow: hidden; /* This will hide the parts of the image that overflow the container */
}

.preamble {
  background-color: #00c6b9;
  width: 100%;
  min-height: 300px;
  font-family: 'Montserrat', sans-serif; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.preambleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 1500px;
  min-height: 200px;
  color: white;
}

.requestTutorCard {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}