.sidebarContainer {
    display: flex;
}

.surfaceSection {
  height: 100vh;
  position: fixed; /* Fixed position regardless of scrolling */
  top: 0;
  left: 0;
  z-index: 1;
  border-right: 1px solid #ccc;
  user-select: none;
  width: 250px; /* Sidebar width */
  overflow-y: auto; 
  background-color: aquamarine;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rowUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.link {
  text-decoration: none; 
}

.navLink {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px; /* This is equivalent to 'p-3' in some frameworks */
  border-radius: var(--border-radius); /* Replace with your value or variable */
  color: inherit;
  transition-duration: 150ms;
  transition-property: background-color, color;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  color: black;
}

.navLink:hover {
  background-color: white; /* Replace with your value or variable */
}

.textStyle {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}